$coffee-light: #fff8ee;
$coffee-normal: #f8edde;
$coffee-dark: #bdab91;

$c0: #1d1e1f;
$c1: #3f3f3f;
$c2: #606060;
$c3: #aaa;
$c4: #ebebeb;

$orange: #fe641e;

$am: #dda15e;
$az: #91b5bd;
$az-dark: #1b1c27;

// Gerais

.container {
  max-width: 1200px;
  margin: 0 auto !important;
  // border: 2px solid green;
}
