// gerais

.bg__container {
  max-width: 650px;
  margin: 0 auto;
  border: 2px solid green;
}

.hero__bg {
  width: 100%;
  height: 100vh;
  background-image: url("./../img/bg.png");
}

header {
  position: absolute;
  background: rgba(234, 231, 231, 0.2);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  width: 100%;
  padding: 1rem 0px;
  display: flex;
  justify-content: space-between;
}

.header__nav {
  display: flex;
}

@media screen and (max-width: 1200px) {
  .header__nav {
    display: none;
  }
}
