// Gerais

.container {
  max-width: 1200px;
  margin: 0 auto !important;
  border: 2px solid green;
}

// Header

.hero__bg {
  width: 100%;
  height: 100vh;
  background-image: url("./../img/bg.png");
  // display: none;
}

header {
  width: 100%;
  padding: 1rem 60px;
  display: flex;
  justify-content: space-between;
}

.bg-header {
  background: #fe641e;
}

.header__nav {
  display: flex;
  color: $c4;
}

@media screen and (max-width: 1200px) {
  .header__nav {
    display: none;
  }
}
