.maq-hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 120px 60px;
  gap: 40px;
}

.maq-hero-img {
  max-width: 100%;
}

.maq-hero-txt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  h2 {
    font-size: 1.25rem;
    letter-spacing: 0;
    text-transform: uppercase;
    color: $az-dark;
    position: relative;
    &::after {
      content: "";
      width: 100px;
      height: 5px;
      background-color: $az-dark;
      position: absolute;
      left: 0;
      top: -1rem;
    }
  }

  h4 {
    font-size: 60px;
    color: $az-dark;
    padding: 40px 0;
  }

  p {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 140%;
    color: $c2;
  }
}

.maq-dados {
  padding: 80px 60px;
}

.maq-dados-painel {
  a {
    font-weight: 700;
    font-size: 1.5rem;
    color: #cbc6c0;
    margin-right: 2rem;
    margin-bottom: 40px;
    display: inline-block;
    font-family: "Josefin Sans", sans-serif;
  }
  .active {
    color: $c0;
    position: relative;
    transition: 0.4s;
    &::before {
      content: "";
      width: 100%;
      height: 3px;
      background: $orange;
      position: absolute;
      bottom: -0.5rem;
    }
  }
}

.maq-dados-boxes section {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 0.5rem;
}

.maq-dados-img {
  img {
    width: 100%;
    height: 100%;
    max-height: 330px;
    object-fit: cover;
  }
}

.maq-dados-box {
  background: #f8edde;
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  padding: 80px 20px;
  max-height: 330px;

  h6 {
    font-weight: 700;
    font-size: 120px;
    line-height: 120px;
    color: #fe641e;

    margin-block-start: 0em;
    margin-block-end: 0em;
    display: flex;
    justify-content: center;
  }

  span {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 1.75rem;
    color: $c2;
  }

  p {
    font-weight: 500;
    font-size: 1.125rem;
    color: $c3;
  }
  img {
    margin: 0 auto;
    opacity: 0.5;
    transition: 0.3s;
    padding-bottom: 1rem;
  }
  &:hover {
    img {
      opacity: 1;
    }
  }
}

.mentoria-tit {
  margin-bottom: 2rem;
}

// Tablet
@media (max-width: 960px) {
  .maq-hero {
    padding: 120px 40px;
    gap: 20px;
  }

  .maq-dados {
    padding: 80px 40px;
  }

  .maq-dados-boxes section {
    grid-template-columns: 50% 50%;
  }
}

// Celular
@media (max-width: 800px) {
  .maq-hero {
    grid-template-columns: 1fr;
    padding: 120px 20px;
    gap: 20px;
  }

  .maq-hero-txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    h2 {
      margin-top: 4rem;
    }
  }

  .maq-dados {
    padding: 80px 20px;
  }

  .maq-dados-boxes section {
    grid-template-columns: 1fr;
  }
}
