@charset "UTF-8";
.container {
  max-width: 1200px;
  margin: 0 auto !important;
  border: 2px solid green;
}

header {
  width: 100%;
  padding: 1rem 60px;
  display: flex;
  justify-content: space-between;
}

.bg-header {
  background: #fe641e;
}

.header__nav {
  display: flex;
  color: #ebebeb;
}

#btn-mobile {
  display: none;
  background: #222;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  align-items: center;
  position: relative;
  z-index: 200;
  gap: 0.5rem;
}

#hamburguer {
  width: 20px;
  border-top: 2px solid;
}

#hamburguer::after,
#hamburguer::before {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background-color: currentColor;
  margin-top: 5px;
  transition: 0.3s;
  position: relative;
}

.header__nav.active #hamburguer {
  border-top-color: transparent;
}

.header__nav.active #hamburguer::before {
  transform: rotate(135deg);
}

.header__nav.active #hamburguer::after {
  transform: rotate(-135deg);
  top: -7px;
}

@media (max-width: 960px) {
  header {
    padding: 1rem 40px;
  }
}
@media screen and (max-width: 800px) {
  header {
    padding: 1rem 20px;
  }
  .header__logo {
    margin: auto 0;
  }
  #btn-mobile {
    display: flex;
  }
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    height: 0;
    top: 60px;
    right: 0;
    background: #fe641e;
    z-index: 1000;
    transition: 0.6s;
    text-align: right;
    visibility: hidden;
    overflow-y: hidden;
  }
  .header__nav.active #menu {
    height: calc(100vh - 60px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    display: block;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }
}
.hero__bg {
  width: 100%;
  height: 100vh;
  background-image: url("./../img/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0 80px;
  height: 100vh;
}
.hero h1 {
  font-weight: 700;
  font-size: 3.5rem;
  letter-spacing: 0.1em;
  color: #fff8ee;
}
.hero h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  color: #f8edde;
  margin: 20px 0 40px 0;
}

@media (max-width: 960px) {
  .hero__bg {
    height: calc(100vh - 55px);
  }
  .hero {
    padding: 0 60px;
    height: calc(100vh - 55px);
  }
}
@media screen and (max-width: 800px) {
  .hero__bg {
    height: calc(100vh - 60px);
  }
  .hero {
    padding: 0 20px;
    height: calc(100vh - 60px);
  }
  .hero h1 {
    font-size: 3rem;
  }
  .hero h2 {
    font-size: 1.25rem;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Josefin Sans", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 72px;
}

h2 {
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 1px;
  color: #f8edde;
}

h3 {
  font-family: "Josefin Sans", serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 130%;
  text-transform: uppercase;
  position: relative;
  color: #1d1e1f;
  text-align: center;
  margin: 5rem 0;
}
h3:after {
  content: "";
  width: 100px;
  position: absolute;
  height: 6px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -8px;
  background: #dda15e;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 100%;
  text-align: center;
  color: #1d1e1f;
}

a {
  text-decoration: none;
}

.link {
  padding: 8px 24px;
  font-weight: 400;
  transition: 0.4s ease;
  position: relative;
  color: #ebebeb;
}
.link::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  transform: translate(30%, -50%);
  width: 0%;
  height: 2px;
  background-color: #ebebeb;
  transition: 0.4s ease;
}
.link:hover {
  opacity: 0.8;
}
.link:hover::after {
  width: 60%;
}

.btn-pri {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 0.05em;
  color: #fff8ee;
  background: #fe641e;
  box-shadow: 0px 21px 80px rgba(254, 100, 30, 0.18), 0px 6.33089px 24.1177px rgba(254, 100, 30, 0.11), 0px 2.62953px 10.0172px rgba(254, 100, 30, 0.09), 0px 0.951048px 3.62304px rgba(254, 100, 30, 0.06);
  border-radius: 5px;
  padding: 1rem 2rem;
  display: inline-block;
  margin-top: 20px;
  transition: 0.4s;
}
.btn-pri:hover {
  box-shadow: 0px 21px 80px rgba(254, 101, 30, 0.378), 0px 6.33089px 24.1177px rgba(254, 101, 30, 0.384), 0px 2.62953px 10.0172px rgba(254, 101, 30, 0.29), 0px 0.951048px 3.62304px rgba(254, 101, 30, 0.29);
  transform: scale(1.01);
}

.btn__sec {
  font-weight: 700;
  font-size: 1.125rem;
  display: inline-block;
  color: #91b5bd;
  text-transform: uppercase;
  border: 3px solid #91b5bd;
  border-radius: 5px;
  padding: 0.8rem 2rem 0.5rem 2rem;
  transition: 0.4s;
  box-shadow: 3px 4px 13px rgba(0, 0, 0, 0.25);
}
.btn__sec:hover {
  background-color: #91b5bd;
  color: #3f3f3f;
  box-shadow: 4px 100px 80px rgba(145, 181, 189, 0.12), 7px 30.1471px 24.1177px rgba(145, 181, 189, 0.0781907), 6px 12.5216px 10.0172px rgba(145, 181, 189, 0.06), 5px 4.5288px 3.62304px rgba(145, 181, 189, 0.0418093);
}

.link-txt {
  color: #91b5bd;
  font-family: inherit;
  text-decoration: underline;
  transition: 0.4s ease;
}
.link-txt:hover {
  font-weight: 700;
  color: #789ca4;
}

.sec__grid {
  background: linear-gradient(90deg, #ece0cf 64.78%, #fff8ee 64.78%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 60px;
  gap: 20px;
}

.sec__invertido {
  background: linear-gradient(90deg, #fff8ee 35%, #ece0cf 35%);
}

.sec__txt {
  font-family: "Josefin Sans", serif;
  padding: 60px 0;
  margin-right: 2rem;
}
.sec__txt span {
  font-weight: 700;
  color: #606060;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  margin-bottom: 1rem;
  display: block;
}
.sec__txt h2 {
  margin-top: 0.5rem;
  color: #606060;
}
.sec__txt p {
  margin-top: 2rem;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 120%;
  color: #746e66;
}
.sec__txt a {
  margin-top: 2rem;
}

.sec__img {
  padding: 60px 0;
  max-height: 600px;
}
.sec__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

@media (max-width: 960px) {
  .sec__grid {
    padding: 0 40px;
    gap: 20px;
  }
  .sec__txt {
    font-family: "Josefin Sans", serif;
    padding: 60px 0;
  }
  .sec__txt p {
    margin-top: 1rem;
  }
  .sec__txt a {
    text-align: center;
  }
  .sec__img {
    margin: auto 0;
    padding: 0;
  }
  .sec__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 5px;
  }
}
@media (max-width: 800px) {
  .sec__grid {
    background: #ece0cf;
    box-shadow: inset 0 -120px #fff8ee;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 20px;
    gap: 20px;
  }
  .sec__invertido {
    background: #ece0cf;
    box-shadow: inset 0 -120px #fff8ee;
  }
  .sec__invertido .sec__img {
    grid-row: 2;
  }
  .sec__txt {
    font-family: "Josefin Sans", serif;
    padding: 60px 0 0 0;
    margin-right: 0rem;
  }
}
.bg-blog {
  background-color: #f8edde;
  box-shadow: inset 0 -120px #fff8ee;
}

.blog__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding-bottom: 4rem;
  max-width: 100%;
}

.blog__img1 {
  background-image: url("./../img/blog1.png");
  background-size: cover;
  height: 250px;
  border-radius: 2px;
}

.blog__img2 {
  background-image: url("./../img/blog2.png");
  background-size: cover;
  height: 250px;
  border-radius: 2px;
}

.blog__img3 {
  background-image: url("./../img/blog3.png");
  background-size: cover;
  height: 250px;
  border-radius: 2px;
}

.blog__item-txt {
  background: #fff;
  box-shadow: 0px 18px 82px rgba(0, 0, 0, 0.07), 0px 5.42647px 24.7206px rgba(0, 0, 0, 0.0456112), 0px 2.25388px 10.2677px rgba(0, 0, 0, 0.035), 0px 0.815184px 3.71362px rgba(0, 0, 0, 0.0243888);
  border-radius: 10px;
  width: 90%;
  margin: -1rem auto 0 auto;
  padding: 1.25rem 1rem;
  z-index: 2;
  transition: 0.4s;
}
.blog__item-txt:hover {
  box-shadow: 0px 74px 80px rgba(0, 0, 0, 0.14), 0px 27.0112px 29.2013px rgba(0, 0, 0, 0.0965974), 0px 13.1134px 14.1767px rgba(0, 0, 0, 0.0778807), 0px 6.42845px 6.94968px rgba(0, 0, 0, 0.0621193), 0px 2.54182px 2.74791px rgba(0, 0, 0, 0.0434026);
}

.blog__tag {
  display: flex;
  align-items: center;
  font-weight: 700;
  color: #1d1e1f;
  justify-content: flex-end;
}
.blog__tag span {
  background-color: #dda15e;
  font-family: "Josefin Sans", serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  transform: translate(28%, -50%);
  box-shadow: 3px 4px 13px rgba(0, 0, 0, 0.25);
}

.blog__txt {
  font-weight: 400;
  line-height: 125%;
  text-align: center;
  color: #aaa;
}

.blog__newsletter {
  background: #fff8ee;
  width: 80%;
  margin: 0 auto !important;
  padding: 2rem 2rem 0rem 2rem;
  position: relative;
  box-shadow: 0px 18px 82px rgba(0, 0, 0, 0.07), 0px 5.42647px 24.7206px rgba(0, 0, 0, 0.05), 0px 2.25388px 10.2677px rgba(0, 0, 0, 0.04), 0px 0.815184px 3.71362px rgba(0, 0, 0, 0.02);
}
.blog__newsletter h4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 120%;
  text-align: center;
  color: #1d1e1f;
  position: relative;
}
.blog__newsletter h4 span {
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  width: 100px;
  height: 6px;
  background: #dda15e;
  transform: translateX(-50%);
}

.blog__input {
  padding: 1rem 1rem 0 1rem;
}
.blog__input input {
  font-size: 1.125rem;
}

.blog__form label {
  margin-top: 1rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
  color: #606060 !important;
  display: block;
}
.blog__form .testee {
  position: relative;
  width: 70%;
  margin: 1rem auto;
}
.blog__form input,
.blog__form textarea {
  width: 100%;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 2px 0 0 2px;
  border: none;
  margin: 0.5rem 0;
  color: #aaa;
  transition: 0.3s;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
}
.blog__form input:focus,
.blog__form textarea:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
.blog__form input:focus + #btn-insc,
.blog__form textarea:focus + #btn-insc {
  border: none;
}
.blog__form button {
  cursor: pointer;
  position: absolute;
  top: 0;
  margin: 0.5rem 0;
  right: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  padding: 0.67rem 2rem;
  background-color: #dda15e;
  border: none;
  border-left: 0px;
  transition: 0.3s;
  border-radius: 0 2px 2px 0;
}

.blog__check {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  padding-bottom: 2rem;
}
.blog__check input {
  width: 15px;
  height: 15px;
  margin: 0;
  margin-right: 0.5rem;
}
.blog__check label {
  margin: 0;
}

@media (max-width: 800px) {
  #blog {
    margin: 7rem 0 !important;
  }
  .blog__grid {
    grid-template-columns: 1fr;
    gap: 24px;
    padding: 32px 1rem;
  }
  .blog__newsletter {
    margin: 1rem;
    padding: 1rem;
  }
  .blog__newsletter .blog__form label {
    display: block;
    margin-bottom: 1rem;
  }
  .blog__newsletter .blog__form .testee {
    position: relative;
  }
  .blog__newsletter .blog__form input {
    width: 100%;
    border: 2px solid #aaa;
    padding: 0.6rem 1rem;
    border-radius: 2px 0 0 2px;
  }
  .blog__newsletter .blog__form button {
    position: unset;
    width: 100%;
  }
  .blog__newsletter .blog__check {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }
  .blog__newsletter .blog__check input {
    width: 15px;
    height: 15px;
    margin: 0;
    margin-right: 0.5rem;
  }
  .blog__newsletter .blog__check label {
    margin: 0;
  }
}
#numeros {
  font-family: "Josefin Sans" !important;
  background-color: #f8edde;
  margin-top: 4rem;
}

.num-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 60px 0;
}

.num-item {
  display: flex;
}

.num-img {
  margin-right: 1rem;
  margin: auto 0;
}
.num-img img {
  max-width: 55px;
}

h6 {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  text-align: left;
  color: #487cb9;
}

.num-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}

.num-txt p {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #132942;
}

@media (max-width: 960px) {
  .num-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    padding: 60px 40px;
  }
}
@media (max-width: 800px) {
  .num-grid {
    display: grid;
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
  }
  .num-item {
    display: flex;
    justify-content: flex-start;
  }
  .num-img {
    margin-right: 1rem;
    margin: auto 0;
  }
  .num-img img {
    max-width: 55px;
  }
}
.bg-footer {
  background-color: #f8edde;
  margin-top: 80px;
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 40px 20px;
  gap: 40px;
}

.footer-tit {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 20px;
  color: #1d1e1f;
  margin-bottom: 20px;
}

footer p,
a {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #606060;
}

.footer-flui img {
  margin-bottom: 20px;
}

.footer-contato a:hover {
  text-decoration: underline;
}

.footer-redes {
  display: flex;
}
.footer-redes a {
  margin-right: 20px;
  margin-top: 20px;
  opacity: 0.5;
  transition: 0.4s;
}
.footer-redes a:hover {
  opacity: 1;
}

.footer-map ul {
  display: inline-block;
}
.footer-map ul li {
  margin-bottom: 0.5rem;
}
.footer-map ul a::before {
  background: #fe641e;
  width: 5px;
  height: 2px;
  position: absolute;
  content: "";
  transform: translate(-16px, 8px);
  transition: 0.3s;
}
.footer-map ul a {
  margin-left: 16px;
  transition: 0.3s;
}
.footer-map ul a:hover {
  text-decoration: underline;
  font-size: 1.125rem;
}
.footer-map ul a:hover::before {
  width: 10px;
  height: 3px;
}

.footer-solary {
  background-color: #bdab91;
  font-family: "Josefin Sans";
  font-weight: 200;
  line-height: 20px;
  text-align: center;
  padding: 1rem 0;
}

@media (max-width: 800px) {
  footer {
    display: grid;
    grid-template-columns: 1fr;
    padding: 40px 20px;
    gap: 40px;
  }
}
.maq-hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 120px 60px;
  gap: 40px;
}

.maq-hero-img {
  max-width: 100%;
}

.maq-hero-txt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.maq-hero-txt h2 {
  font-size: 1.25rem;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #1b1c27;
  position: relative;
}
.maq-hero-txt h2::after {
  content: "";
  width: 100px;
  height: 5px;
  background-color: #1b1c27;
  position: absolute;
  left: 0;
  top: -1rem;
}
.maq-hero-txt h4 {
  font-size: 60px;
  color: #1b1c27;
  padding: 40px 0;
}
.maq-hero-txt p {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 140%;
  color: #606060;
}

.maq-dados {
  padding: 80px 60px;
}

.maq-dados-painel a {
  font-weight: 700;
  font-size: 1.5rem;
  color: #cbc6c0;
  margin-right: 2rem;
  margin-bottom: 40px;
  display: inline-block;
  font-family: "Josefin Sans", sans-serif;
}
.maq-dados-painel .active {
  color: #1d1e1f;
  position: relative;
  transition: 0.4s;
}
.maq-dados-painel .active::before {
  content: "";
  width: 100%;
  height: 3px;
  background: #fe641e;
  position: absolute;
  bottom: -0.5rem;
}

.maq-dados-boxes section {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 0.5rem;
}

.maq-dados-img img {
  width: 100%;
  height: 100%;
  max-height: 330px;
  -o-object-fit: cover;
     object-fit: cover;
}

.maq-dados-box {
  background: #f8edde;
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  padding: 80px 20px;
  max-height: 330px;
}
.maq-dados-box h6 {
  font-weight: 700;
  font-size: 120px;
  line-height: 120px;
  color: #fe641e;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  display: flex;
  justify-content: center;
}
.maq-dados-box span {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 1.75rem;
  color: #606060;
}
.maq-dados-box p {
  font-weight: 500;
  font-size: 1.125rem;
  color: #aaa;
}
.maq-dados-box img {
  margin: 0 auto;
  opacity: 0.5;
  transition: 0.3s;
  padding-bottom: 1rem;
}
.maq-dados-box:hover img {
  opacity: 1;
}

.mentoria-tit {
  margin-bottom: 2rem;
}

@media (max-width: 960px) {
  .maq-hero {
    padding: 120px 40px;
    gap: 20px;
  }
  .maq-dados {
    padding: 80px 40px;
  }
  .maq-dados-boxes section {
    grid-template-columns: 50% 50%;
  }
}
@media (max-width: 800px) {
  .maq-hero {
    grid-template-columns: 1fr;
    padding: 120px 20px;
    gap: 20px;
  }
  .maq-hero-txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .maq-hero-txt h2 {
    margin-top: 4rem;
  }
  .maq-dados {
    padding: 80px 20px;
  }
  .maq-dados-boxes section {
    grid-template-columns: 1fr;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, label::-moz-selection, span::-moz-selection, strong::-moz-selection, br::-moz-selection, p::-moz-selection {
  background-color: #487cb9;
  color: #faf9f2;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
label::selection,
span::selection,
strong::selection,
br::selection,
p::selection {
  background-color: #487cb9;
  color: #faf9f2;
}

/* Estilização da barra de scroll */
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #bdab91 #f6f7f9;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #f6f7f9;
}

*::-webkit-scrollbar-thumb {
  background: #bdab91;
  border-radius: 20px;
  border: 3px solid #f6f7f9;
}

/* Fim da Estilização da barra de scroll */
body {
  width: 100%;
  background-color: #fff8ee;
}

ul {
  display: flex;
  list-style-type: none;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

img {
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

@-webkit-keyframes show {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.js-tabcontent section {
  display: none;
}

.js-tabcontent section.active {
  display: grid;
  -webkit-animation: show 0.5s forwards;
          animation: show 0.5s forwards;
}/*# sourceMappingURL=style.css.map */